ac-comphist.dat
auto-save-list/
elpa/
gitStuff/
*~
modes/
places
projectile-bookmarks.eld
projectile.cache
.recentf
.smex-items
cider-history
tramp
ido.last
/cider-history
*.elc
/.org-id-locations
/var/*
/ac-comphist.dat
/jabber-avatar-cache/*
/jabber-history/*
/emms/*
/projectile-bookmarks.eld
/.mc-lists.el
/org-clock-save.el
/bbdb
/eshell
/org-gcal/
/session.*
/projectile.cache
emojis/
local/**/*.el
org/**/*.el
url